.statistics {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
  height: 150px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

.statList {
  display: flex;
}