.statistics {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

.title {
  padding-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  vertical-align: middle;
  color: darkblue;
  font-family: 'Helvetica Neue';
  font-size: 30px;

}

.statList {
  display: flex;
}